body {
    background-image: url(https://wallpaperaccess.com/full/1750913.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

h1, h3 {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(235, 135, 117);
}

.menu-container {
    background-color: rgba(112, 22, 22, 0.74);
    height: 700px;
    width: 1000px;
    padding: 10px; 
    margin: auto;   
    border: 6px solid rgb(5, 163, 18);
    border-radius: 15%;   
    color:gold;
}

#menuBG {
    width: 400px;
    height: 470px;
    margin: 10px auto;
}

#frmMenu {
    width: 600px;
    height: 200px;
}

#totalPrice {
    width: 200px;
    height: 190px;
    margin: 20px auto;
    float: right;
}

.left {
    width: 200px;
    height: 200px;
    float: left;
}

.center {
    width: 200px;
    height: 200px;
    float: left;
}

.right {
    width: 200px;
    height: 200px;
    float: right;
}

#showText {
    width: 200px;
    height: 190px;
    margin: 0px auto;
    float: left;
}

#cart {
    top: 0;
    margin: 0px auto;
    width: 400px;
    height: 200px;
}

#btnOrder {
    margin: 10px 0px 0px 100px;
    width: 100px;
    height: 40px; 
    display: block;
    margin: 25px auto;       
}